@model KeuzeWijzerMvc.ViewModels.SchoolModuleViewModel

@{
    ViewData["Title"] = "Module Kopiëren";
}

<h1>Module Kopiëren</h1>
<hr />

<div class="container">
    <form asp-action="Copy" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="form-group column col-sm-6">
                @* Left column *@

                <input type="hidden" asp-for="SchoolModule.Id" />

                <div class="col-sm-12 mb-3">
                    <label asp-for="SchoolModule.Name" class="control-label">Naam van module</label>
                    <input asp-for="SchoolModule.Name" class="form-control" />
                    <span asp-validation-for="SchoolModule.Name" class="text-danger"></span>
                </div>
                <div class="col-sm-12 mb-3">
                    <label asp-for="SchoolModule.SchoolYearId" class="control-label">Cohort</label>
                    <select asp-for="SchoolModule.SchoolYearId" asp-items="ViewBag.SchoolYearId" class="form-control"></select>
                    <span asp-validation-for="SchoolModule.SchoolYearId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="SchoolModule.EC" class="control-label">Studiepunten</label>
                    <input asp-for="SchoolModule.EC" class="form-control" />
                    <span asp-validation-for="SchoolModule.EC" class="text-danger"></span>
                </div>

                <div class="form-group column">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="SchoolModule.Active" />
                            <label class="form-check-label" asp-for="SchoolModule.Active">Actief</label>
                            <span asp-validation-for="SchoolModule.Active" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group column">
                    <input type="hidden" asp-for="SchoolModule.Semester" id="Semester" />
                    <label class="col-sm-6 control-label">Beschikbaar in periode(s)</label>
                    <div class="col-sm-12 d-flex mt-2">
                        <div class="form-check me-3">
                            <input class="form-check-input" id="Period1" type="checkbox" onchange="updateSemester()" />
                            <label class="form-check-label" for="Period1">Periode 1</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" id="Period2" type="checkbox" onchange="updateSemester()" />
                            <label class="form-check-label" for="Period2">Periode 2</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SchoolModule.Description" class="control-label">Omschrijving</label>
                    <textarea asp-for="SchoolModule.Description" class="form-control" id="tiny"></textarea>
                    <span asp-validation-for="SchoolModule.Description" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group column col-sm-6">
                @* Right column *@
                <h2>Ingangseisen</h2>

                <div class="form-group mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="SchoolModule.PRequired" />
                        <label class="form-check-label" asp-for="SchoolModule.PRequired">Propedeuse behaald</label>
                        <span asp-validation-for="SchoolModule.PRequired" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="SchoolModule.MinimalEC" class="control-label">Benodigde studiepunten</label>
                    <input asp-for="SchoolModule.MinimalEC" class="form-control" />
                    <span asp-validation-for="SchoolModule.MinimalEC" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="moduleDropdown">Modules die gevolgd/behaald moeten zijn</label>

                    <div class="d-flex">
                        <select id="moduleDropdown" class="form-control">
                            <option value="">Selecteer een module</option>
                            @foreach (var module in ViewBag.Modules)
                            {
                                <option value="@module.Value">@module.Text</option>
                            }
                        </select>
                        <button type="button" class="btn btn-primary" onclick="addModule()">Toevoegen</button>
                    </div>
                </div>

                <select id="requiredModules" hidden>
                    <option value="">Selecteer een module</option>
                    @foreach (var module in Model.EntryRequirementSchoolModules)
                    {
                        <option value="@module.Id">@module.Name</option>
                    }
                </select>

                <div class="form-group">
                    <table class="table table-bordered" id="modulesTable">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th class="text-center">Behaald</th>
                                <th class="text-center">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamische regels van de tabel -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <input type="submit" value="Opslaan" class="btn btn-primary me-2" />
            <button type="button" class="btn btn-secondary" onclick="confirmCancel()">Annuleren</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function updateSemester() {
            var period1 = document.getElementById('Period1').checked;
            var period2 = document.getElementById('Period2').checked;

            if (period1 && period2) {
                document.getElementById('Semester').value = 3;
            } else if (period1) {
                document.getElementById('Semester').value = 1;
            } else if (period2) {
                document.getElementById('Semester').value = 2;
            } else {
                document.getElementById('Semester').value = 0;
            }
        }

        function addModule() {
            var moduleDropdown = document.getElementById('moduleDropdown');
            var selectedModuleText = moduleDropdown.options[moduleDropdown.selectedIndex].text;
            var selectedModuleId = moduleDropdown.value;

            if (selectedModuleId) {
                var table = document.getElementById('modulesTable').getElementsByTagName('tbody')[0];

                // Check if the module is already in the table
                var moduleExists = false;
                for (var i = 0, row; row = table.rows[i]; i++) {
                    var cell = row.cells[0];
                    if (cell.textContent.trim() === selectedModuleText) {
                        moduleExists = true;
                        break;
                    }
                }

                if (!moduleExists) {
                    var newRow = table.insertRow();
                    var cell1 = newRow.insertCell(0);
                    var cell2 = newRow.insertCell(1);
                    var cell3 = newRow.insertCell(2);

                    var rowCount = table.rows.length - 1;

                    cell1.innerHTML = selectedModuleText + '<input type="hidden" name="SchoolModule.EntryRequirementModules[' + rowCount + '].MustModuleId" value="' + selectedModuleId + '" />';
                    cell2.innerHTML = '<input type="checkbox" name="SchoolModule.EntryRequirementModules[' + rowCount + '].MustPassed" value="true"/>';
                    cell3.innerHTML = '<button type="button" class="btn btn-danger " onclick="deleteRow(this)">X</button>';
                } else {
                    alert('Deze module is al toegevoegd.');
                }
            }
        }

        function PopulateModules() {
            var moduleDropdown = document.getElementById('requiredModules');
            var options = moduleDropdown.options

            for (var i = 0; i < options.length; i++) {
                var module = options[i];
                var selectedModuleText = module.text;
                var selectedModuleId = module.value;

                if (selectedModuleId) {
                    var table = document.getElementById('modulesTable').getElementsByTagName('tbody')[0];

                    var newRow = table.insertRow();
                    var cell1 = newRow.insertCell(0);
                    var cell2 = newRow.insertCell(1);
                    var cell3 = newRow.insertCell(2);

                    var rowCount = table.rows.length - 1;

                    cell1.innerHTML = selectedModuleText + '<input type="hidden" name="SchoolModule.EntryRequirementModules[' + rowCount + '].MustModuleId" value="' + selectedModuleId + '" />';
                    cell2.innerHTML = '<input type="checkbox" name="SchoolModule.EntryRequirementModules[' + rowCount + '].MustPassed" value="true"/>';
                    cell3.innerHTML = '<button type="button" class="btn btn-danger " onclick="deleteRow(this)">X</button>';
                }
            }
        }

        function setInitialSemester() {
            var semesterValue = parseInt(document.getElementById('Semester').value);
            if (semesterValue === 1) {
                document.getElementById('Period1').checked = true;
            } else if (semesterValue === 2) {
                document.getElementById('Period2').checked = true;
            } else if (semesterValue === 3) {
                document.getElementById('Period1').checked = true;
                document.getElementById('Period2').checked = true;
            }
        }

        function deleteRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function confirmCancel() {
            if (confirm("Weet u het zeker?\nAl uw onopgeslagen werk gaat verloren")) {
                window.location.href = '@Url.Action("Index")';
            }
        }

        window.addEventListener("DOMContentLoaded", function () {
            PopulateModules();
            setInitialSemester();
        }, false);
    </script>
}
