@using System.Web
@model IEnumerable<SchoolModuleDto>

@{
    ViewData["Title"] = "Module overzicht";
}

<h1>Module overzicht</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Omschrijving
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @{
                        var description = item.Description;
                        var words = description.Split(new[] { ' ', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
                        var numberOfWords = 10;
                        var summary = string.Join(" ", words.Take(numberOfWords));
                        @Html.Raw(HttpUtility.HtmlEncode(summary))
                        if (words.Length > numberOfWords)
                        { 
                            @:...
                        }
                    }
            </td>
            <td>
                    @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Kopiëren", "Copy", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>